#picofme{
  width: 200px;
  height: 272px;
  margin-right: 5px;

  float: left;
}
#Name{
  color: Red;
  font-weight: bold;
}
.bg-success .westwind{
  font-weight: bold;
}
#Name{
  width: 324px;
  border: 3px solid green;
  padding: 5px;
  margin: 2px;
}
.container{
  background-color: grey;
}
#picofdog{
width: 270px;
height: 202px;
-webkit-transform:rotate(90deg);
float: right;
border-radius: 200px;
}
